@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);

* {
    font-family: 'Inter';
}

/* Main Content */
/* Tab */

.tab-inside {
    display: flex;
    width: 100%;
    height: 60px;
}
  
.choice {
    flex: 1;
    padding: 10px 20px;
    border: none;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc; /* เส้นคั่นระหว่างปุ่ม */
    cursor: pointer;
    font-size: 20px;
    color: #939796;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.choice:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}
  
.choice:last-child {
    border-right: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
  
.choice:hover {
    background-color: #eaeaea;
    transform: translateY(-5px);

}
  
.choice:focus {
    outline: none;
    background-color: #ddd;
}

.choice-curr {
    color: #5C4538;
    font-weight: 500;
}

/* Name of page and Search box*/
.headline {
    display: flex;
    align-items: center;
    justify-content: space-between; /* เว้นพื้นที่ให้ซ้าย-ขวาอยู่คนละด้าน */
    margin-top: 25px;
}

h2 {
    color: #000000;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search-inputs {
    width: 250px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #F4F8F7;
    
}

.search-inputs::placeholder {
    font-size: 18px;
    color: #aaa;
}

.search-inputs:hover {
    background-color: #efefef;
    transition: 0.5s ease;
}

input {
    padding-left: 20px;
    font-size: 16px;
    color: #000000;
}

/* Base styling for the custom checkbox */
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  transform: scale(1.3);
  background-color: #000000;
  border: none;
  vertical-align: middle;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

input[type="checkbox"]:checked {
  background-color: #5e5e5e;
  animation: wave-check 0.5s ease;
}

@keyframes wave-check {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.3);
  }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 640px) {
  input[type="checkbox"] {
    /* Keep the same dimensions or tweak them if desired */
    width: 10px;
    height: 10px;
  }
}

.search-icon {
    width: 40px;
    height: 40px;
    background-color: #FFFAA2;
    border-radius: 40px;
    border: none;
    transition:  0.5s ease;
    cursor: pointer;
}

.search-icon:hover {
    background-color: #a0d2f9;
    transition: 0.5s ease;
}

/* Result Table */
/*Table Headers*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
}

.result-table {
    table-layout: fixed;
    width: 100%;
}

.head-table {
    width: 100%;
    height: 50px;
    background-color: #e0e2e4;
    border-radius: 10px;
}

th {
    text-align: center;
    padding: 10px;
    border: 1px;
    border-right: 1px solid #ccc;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    
}

thead tr:last-child th:last-child {
    border-right: none;
}

/* Result Box */
/* Payment Tables */
.result {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
}

tbody tr {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: none;
}
  
.view-btn {
    color: #016bec;
    background-color: #ffffff;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition:  background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.view-btn:hover {
    color: #016bec;
    /*background-color: #b3b3b3;*/
    font-weight: 500;
    text-decoration: underline;
    transform: translateY(-5px);
    text-shadow: 0 2px 8px #002d9d54;
}

/*confirm pays btn*/
#makepay {
    display: none;  /*Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    padding: 10px;
    background-color: #016bec;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 8px #003677da;
    transition:  background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#makepay:disabled {
    background-color: #93a3ab;
}

#makepay:hover {
    background-color: #7dd0fa;
    text-shadow: 0 2px 8px #001958c9;
    box-shadow: 0 2px 8px #003677da;
}

.paysdetail {
    margin: 20px 0px 0px 0px;
}

.paysdetail #content {
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 1px 20px 10px 20px;
    margin: 10px 0px 0px 0px;
    font-size: 16px;
}
.paysdetail #contentPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 1px 20px 0px 20px;
    margin: 10px 0px 0px 0px;
    font-size: 16px;
}
.paysdetail #pmethod {
    display: block;
    border-radius: 20px;
    padding: 1px 0px 20px 20px;
    margin: 0px 0px 10px 0px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 25px;
    font-size: 16px;
    user-select: none;
    margin-right: 15px;
}

input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid #c7c7c7;
    border-radius: 50%;
    background-color: #f0f0f0;
    transition: border-color 0.2s ease;
}

input[type="radio"]:checked + label:after {
    content: "";
    position: absolute;
    left: 3.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #5e5e5e;
}

.file {
    margin: 20px 0px 0px 0px;
    padding: 100px;
    height: 70vh;
    background-color: #f0f0f0;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #d3ebfc, #fff8b5) 1;
}

.print-btn {
    display: flex;
    gap: 25px;
    justify-content: center;
    /*stick at bottom*/
    position:sticky;
    left: 10px;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: #fff;
}
.print-btn button {
    background-color: #58bff3;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Flex properties to nicely align the icon and text */
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.print-btn button:hover {
    background-color: #1c76e5;
    box-shadow: 0 2px 8px #0457bc9d;
}