@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);

* {
    font-family: 'Inter';
}

/* Main Content */
/* Tab */

.tab-inside {
    display: flex;
    width: 100%;
    height: 60px;
}
  
.choice {
    flex: 1;
    padding: 10px 20px;
    border: none;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc; /* เส้นคั่นระหว่างปุ่ม */
    cursor: pointer;
    font-size: 20px;
    color: #939796;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.choice:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}
  
.choice:last-child {
    border-right: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
  
.choice:hover {
    background-color: #eaeaea;
    transform: translateY(-5px);

}
  
.choice:focus {
    outline: none;
    background-color: #ddd;
}

.choice-curr {
    color: #5C4538;
    font-weight: 500;
}

/* Name of page and Search box*/
.headline {
    display: flex;
    align-items: center;
    justify-content: space-between; /* เว้นพื้นที่ให้ซ้าย-ขวาอยู่คนละด้าน */
    margin-top: 25px;
}

h2 {
    color: #000000;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search-inputs {
    width: 250px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #F4F8F7;
}

.search-inputs::placeholder {
    font-size: 18px;
    color: #aaa;
}

.search-inputs:hover {
    background-color: #efefef;
    transition: 0.5s ease;
}

input {
    padding-left: 20px;
    font-size: 16px;
    color: #000000;
}

.search-icon {
    width: 40px;
    height: 40px;
    background-color: #FFFAA2;
    border-radius: 40px;
    border: none;
    transition:  none;
    cursor: pointer;
}

.search-icon:hover {
    background-color: #a0d2f9;
    transition: 0.5s ease;
}

/* Result Table */
/*Table Headers*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
  }

.result-table {
    table-layout: fixed;
    width: 100%;
}

.head-table {
    width: 100%;
    height: 50px;
    background-color: #e0e2e4;
    border-radius: 10px;
}

th {
    text-align: center;
    padding: 10px 20px;
    border: 1px;
    border-right: 1px solid #ccc; /* เส้นคั่นระหว่างปุ่ม */
    font-size: 18px;
    color: #000;
    
}

thead tr:last-child th:last-child {
    border-right: none;

}

/* Result Box */
.result {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
}

tbody tr {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  
tbody td {
    padding: 15px;
    text-align: center;
    border-bottom: none;
}

.view-btn {
    color: #016bec;
    background-color: #ffffff;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition:  background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.view-btn:hover {
    color: #fff;
    background-color: #016bec;
    font-weight: 500;
    transform: translateY(-3px);
    text-shadow: 0 3px 10px #011750bb;
    box-shadow: 0 5px 10px #0e5aff4a;
    transition:  background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#confirm-btn {
    display: block;  /*Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    padding: 10px;
    background-color: #016bec;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition:  background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#confirm:disabled {
    background-color: #7dd0fa;
}

#confirm:hover {
    background-color: #7dd0fa;
    box-shadow: 0 2px 8px #0457bc9d;
}