@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter';
}

body {
  margin: 0;
  padding: 0;
}



/* Header */
.summary-title {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

.title-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.summary-heading {
  font-size: 36px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.check-icon {
  width: 28px;
  height: 28px;
}

.room-code {
  font-size: 20px;
  font-weight: 600;
  color: #53b0e7;
  margin: 0;
}

.room-number {
  font-weight: bold;
}

/* Summary Section */
.booking-summary {
  max-width: 1120px;
  margin: 20px auto;
  padding: 0 10px;
}

.summary-block {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.summary-block h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.summary-entry {
  line-height: 1.8;
  margin-bottom: 12px;
}

.summary-entry div {
  margin-bottom: 6px;
}

/* Confirm Button Area */
.confirm-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1120px;
  margin: 30px auto;
  padding: 0 10px;
  gap: 12px;
}

.confirm-btn,
.wait-btn {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.confirm-btn {
  background-color: #89D3FF;
  color: #ffffff;
}

.confirm-btn:hover {
  background-color: #007BFF;
  transform: scale(1.05);
}

.wait-btn {
  background-color: #F4F8F7;
  color: #8c8e8d;
}

.wait-btn:hover {
  background-color: #e4e7e6;
  transform: scale(1.05);
}