@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter';
}



/* Table */
.notification-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notification-table {
  border-collapse: collapse;
  border: none; /* ไม่มีเส้นรอบนอก */
  width: 100%;
  max-width: 1120px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 40px;
}

.notification-table th,
.notification-table td {
  padding: 16px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  border: 1px solid #e0e0e0; /* เส้นทุกด้าน */
}

.notification-table tr:first-child th {
  border-top: none;
}

.notification-table tr:last-child th {
  border-bottom: none;
}

/* ลบเส้นซ้ายของคอลัมน์แรก */
.notification-table tr td:first-child,
.notification-table tr th:first-child {
  border-left: none;
}

/* ลบเส้นขวาของคอลัมน์สุดท้าย */
.notification-table tr td:last-child,
.notification-table tr th:last-child {
  border-right: none;
}

.notification-table th {
  background: #F4F8F7;
  font-weight: 600;
}

.notification-table a {
  color: #007BFF;
  text-decoration: none;
  font-weight: 500;
}