/* Global Styles */
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.sidebar {
  box-sizing: content-box;
}

/* Main Container */
/* Name of page and Search box*/
.headline {
    display: flex;
    align-items: center;
    justify-content: space-between; /* เว้นพื้นที่ให้ซ้าย-ขวาอยู่คนละด้าน */
    margin-top: 25px;
}

h2 {
    color: #000000;
}

.add-btn {
    color: #FFFFFF;
    width: 10%;
    height: 40px;
    font-size: 16px;
    background-color: #0073ff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition:  background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.add-btn:hover {
    background-color: #016bec;
    transform: translateY(-5px); 
}

label {
  display: block;
  margin-top: 10px;
}
input, textarea {
  width: 50%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 0.85em;
}
/*
.staff-section {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

staff-picture {
  display: block;
  margin-bottom: 30px;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-picture {
  width: 250px; 
  height: 250px; 
  object-fit: cover;
  border-radius: 100px;
  border: 4px solid #ccc; 
  margin-bottom: 10px;
}


staff-info {
  display: block;
  flex: 1;
}

.addstaff-form {
  display: flex;
  flex-direction: column;
  gap: 30px; 
  max-width: 1200px; 
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.addstaff-form label {
  font-size: 22px; 
  font-weight: 500;
  margin-bottom: 8px;
}

.addstaff-form input {
  font-size: 22px; 
  padding: 20px 30px; 
  border-radius: 8px; 
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

 Responsive 
@media (max-width: 768px) {
  .addstaff-container {
    margin-left: 20px;
    margin-top: 40px;
  }

  .addstaff-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .staff-section {
    flex-direction: column;
  }

  .addstaff-form {
    max-width: 100%;
  }
}
*/
