/* Table */
.table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  border: none; /* ไม่มีเส้นรอบนอก */
  width: 100%;
  max-width: 1120px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 40px;
  table-layout: fixed;

}

.table th,
.table td {
  padding: 16px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #e0e0e0; /* เส้นทุกด้าน */
}

.table tr:first-child th {
  border-top: none;
}

.table tr:last-child th {
  border-bottom: none;
}

/* ลบเส้นซ้ายของคอลัมน์แรก */
.table tr td:first-child,
.table tr th:first-child {
  border-left: none;
}

/* ลบเส้นขวาของคอลัมน์สุดท้าย */
.table tr td:last-child,
.table tr th:last-child {
  border-right: none;
}

.table th {
  background: #F4F8F7;
  font-weight: 600;
}

.blue-btn {
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  border-radius: 40px;
  background-color: #0073ff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  width: auto; /* ปรับให้กว้างตามเนื้อหา */
  display: inline-block;
}

.blue-btn:hover {
    background-color: #016bec;
    transform: translateY(-5px); 
}

.red-btn {
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: #E41D1D;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  width: auto; /* ปรับให้กว้างตามเนื้อหา */
  display: inline-block;
}

.red-btn:hover {
    background-color: #d71a1a;
    transform: translateY(-5px); 
}